@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body{
  background: #F2F3EB;
}

button {
  overflow: visible;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container{
  margin: 60px auto;
  width: 95%;
  border: solid 3px black;
  max-width: 768px;
  position: relative;
}

h1{
  font-size: 100x;
  color: brown;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

form{
  padding: 37.5px;
  margin: 50px 0;
}
input[type = "text"], [type = "email"], [type = "tel"], textarea{
  background: none;
  border: none;
  border-bottom: solid 2px brown;
  color: brown;
  font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.name{
  float: left;
  width: 45%;
}

.email{
  float: right;
  width: 45%;
  display: none;
}

.TEL{
  width: 100%;
  display: none;
}

.message{
  float: none;
  display: none;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: none;
}


#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}